body{
  font-family: 	'Helvetica Neue', 'Helvetica', 'Arial', "sans-serif";
  color: #0d86e3;
  background-color: #f5f5ff;
}
.people{
  list-style-type: none;
  font-size: 3vh;
}
.main{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.profitOrLosses{
  border: 1px solid #0d86e3;
}
