body{
  font-family: 	'Helvetica Neue', 'Helvetica', 'Arial', "sans-serif";
  color: white;
  background-image: url(/css/assets/bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
.people{
  list-style-type: none;
  font-size: 3vh;
}
.center{
  height: 100%;
  background: #2A3A67;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
a{
  color: white;
}
tr:hover{
  font-weight: bold;
}
.spacer{
  margin-bottom: 500px;
}
