body{
  font-family: 	'Helvetica Neue', 'Helvetica', 'Arial', "sans-serif";
  color: white;
  background-image: url(https://media.discordapp.net/attachments/310813252626153474/408361116201254922/blue_red_1616.png?width=1214&height=683);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
.people{
  list-style-type: none;
  font-size: 3vh;
}
.center{
  background: #2A3A67;
  height: 100vh;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
a{
  color: white;
}
tr:hover{
  font-weight: bold;
}
html {
  position: relative;
  min-height: 100%;
}
